.welcome-outest-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;

}
.typing-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1100px;
    height: 564px;
    background: rgba(245, 247, 245, 0.9);
    box-sizing: border-box;
    /* Shadow / Light */

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
}
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.language-picker {
    margin-top: 4rem;
    align-self: center;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-size: 1.5rem;
}

.picked {
    color:black;
}

.notPicked {
    color: grey;
}

.typing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self:center;
    background-color: white;
    width: 950px;
    height: 115px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    gap: 0.2rem;
}

.typing-box-text {
    font-family: 'Poppins', serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.typing-spot {


}
.typing-spot-input {
    margin-top: 0.5rem;
    width: 950px;
    height: 56px;
    font-family: 'Poppins', serif;
    font-size: 1.5rem;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #FFFFFF;
    border-style: none;
    text-align: center;
}

.typing-buttons{
    margin-top: 2rem;
    display:flex;
    gap:0.7rem;
}
.button-time{
    width: 96px;
    height: 48px;
    background: #1C5F81;
    border-style: none;
    border-radius: 10px;
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: #FFFFFF;
    font-style: normal;

}
.button-restart{
    width: 96px;
    height: 48px;
    border: 1px solid #006072;
    border-radius: 10px;
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: black;
    font-style: normal;
    cursor: pointer;
    background: white

}
.button-restart:hover{
    background: grey;
    border:none;
}

.current-word{
    background:grey;
}
.current-word-wrong{
    background:red;
}
.previous-word-right{
    color:green
}
.previous-word-wrong{
    color:red;
}